@using NetWeb.Models
@model Tuple<TestbedViewModel, EventTypeViewModel, EventTypeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


}

<h2>Statistics</h2>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">

    

    function filterEvents() {
        var eventTypeId = $('#Item2_EventTypeId').val();
        //alert("Hello World" + testBedId);


        $.ajax({
            url: 'Details',
            type: "GET",
            dataType: "JSON",
            data: { MasterEventId: eventTypeId },
            success: function (SubEventTypes) {
                $('#ddlSubEvent').html("");

                $.each(SubEventTypes, function (i, eventType) {
                    $('#ddlSubEvent').append($('<option></option>').val(eventType.EventTypeId).html(eventType.EventTypeDescription));

                });

            }
        })
    }

    

</script>

<div class="form-group">
    @Html.LabelFor(tuple => tuple.Item1.TestBedId, new { @class = "control-label" })
    
    @*@Html.DropDownListFor(tuple => tuple.Item1.TestBedId, (Model.Item1.ListofTestbeds), "--SELECT--");*@
    @Html.DropDownListFor(tuple => tuple.Item1.TestBedId, new SelectList(Model.Item1.ListofTestbeds, "Value", "Text"),
    "--SELECT--", new { @class="form-control" })

</div>

<br />
<br />
<div class="form-group">

    @Html.LabelFor(tuple => tuple.Item2.EventTypeId);
    @Html.DropDownListFor(tuple => tuple.Item2.EventTypeId, new SelectList(Model.Item2.ListofEventTypes, "Value", "Text"),
    "--SELECT--",
    new { @class="form-control", @onchange="filterEvents();" })

</div>

<div class="form-group">
    @Html.DropDownListFor(m=>m.Item2.EventTypeId, new SelectList(Enumerable.Empty<SelectListItem>(), "EventTypeId", "EventTypeDescription"),
    "--SUB-EVENTTYPE--", new { @class="form-control", Name ="ddlSubEvent"})
</div>




<br />
<br />




