@model LMSWeb.Models.UserObjectModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left:40%;
            top:40%;
            background-color:aliceblue;
            border: 2px solid #ccc ;
            border-radius: 10px;
            padding: 20px 20px;
        }
        .field-validation-error {
            color:red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <tr >
                    <td></td>
                    <td style="text-decoration:underline">LMS login</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserObjectName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserObjectName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.UserObjectName)</td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserObjectPassword)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserObjectPassword)
                    </td>
                    @*<td>
                        <button type="submit" name="submit" class="button">
                            <img title="Login" src="~/Images/login.png" width="15" />
                        </button>
                    </td>*@
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.UserObjectPassword)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
