<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--What links?-->
                @{
                    if (Session["CurrentPage"] == null)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else if (Session["CurrentPage"].ToString() == "Stat")
                    {
                        <li>@Html.ActionLink("Filter statistics", "Stat", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Utilization total", "UtilTotal", "Utilization")</li>
                        <li>@Html.ActionLink("Utilization per date", "UtilPerDate", "Utilization")</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else if (Session["CurrentPage"].ToString() == "Utilization")
                    {
                        <li>@Html.ActionLink("Filter statistics", "stat", "statistics")</li>
                        <li>@Html.ActionLink("Total Utilization", "UtilTotal", "Utilization")</li>
                        <li>@Html.ActionLink("Utilization per date!", "UtilPerDate","Utilization")</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                }

            </ul>
            <h5 style="text-align:right">
                <b style="color:GrayText">User: @Session["userObjectName"].ToString() / </b>
                <b style="color:GrayText">Last login: @Session["lastLoginTime"].ToString()</b>
                <b style="text-align:right">
                    <a href="@Url.Action("LogOut", "LogIn")" style="color:#FF0000"> <img class="paragraph-icon" title="LogOut" src="~/Images/logout.png" width="30"></a>
                </b>
            </h5>

        </div>
    </div>
</div>